Source: ifmetric
Section: net
Priority: extra
Maintainer: Michael Shuler <michael@pbandjelly.org>
Build-Depends: debhelper (>= 9), lynx
Standards-Version: 3.9.6
Homepage: http://0pointer.de/lennart/projects/ifmetric/
Vcs-Git: git://anonscm.debian.org/collab-maint/ifmetric.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/ifmetric.git

Package: ifmetric
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Set routing metrics for a network interface
 ifmetric is a Linux tool for setting the metrics of all IPv4 routes
 attached to a given network interface at once.  This may be used to
 change the priority of routing IPv4 traffic over the interface.
 Lower metrics correlate with higher priorities.
